<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PruebaTallerGib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EEDAAE711D77880600BF5171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEDAAE881D77880700BF5171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEDAAE931D77880700BF5171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
